.formH2 {
  width: 100%;
  padding: 0.25em 0.5em; /*上下 左右の余白*/
  color: #494949; /*文字色*/
  font-size: 16px;
  font-weight: bold;
  background: transparent; /*背景透明に*/
  border-left: solid 5px #e195ab; /*左線*/
  margin-bottom: 6px;
}

.eventContainer {
  // display: flex;
  // justify-content: center;
  margin: auto;
  padding: 24px;
  position: relative;
  overflow: auto;
}

.eventFormContainer {
  display: flex;
  justify-content: center;
  padding: 24px;
}

@media (max-width: 428px) {
  .eventContainer {
    display: block;
    padding: 24px;
  }

  .eventFormContainer {
    display: block;
    padding: 10px;
  }
}

.eventName {
  color: #de3163; /*文字色*/
  font-weight: bold;
  font-size: 24px;
  padding: 0.5em 0; /*上下の余白*/
  border-top: solid 3px #de3163; /*上線*/
  border-bottom: solid 3px #de3163; /*下線*/
  text-align: center;
  margin-bottom: 16px;
}

.eventTitleSection {
  display: flex;
  margin-bottom: 12px;
  width: 100%;
  text-wrap: wrap;
  margin-bottom: 24px;
  img {
    width: 70px;
    height: 70px;
    margin-right: 12px;
  }
}

.h2Title {
  padding: 4px;
  border-left: 6px double #000;
  background: #ffedfa;
  color: #333;
  margin-bottom: 12px;
}

.table {
  // display: flex;
  // justify-content: center;
  position: relative;
  width: 100%;
  // スクロールバー（幅・高さ）
  &::-webkit-scrollbar {
    width: 30px;
    height: 20px;
  }

  // スクロールバーのつまみ
  &::-webkit-scrollbar-thumb {
    background-color: #c792a3;
    border-radius: 10px;
  }
}

@media (max-width: 428px) {
  .table {
    display: block;
  }
}

.tableDesign {
  border-collapse: collapse;
  min-width: 700px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  background-color: #ffedfa;
  position: relative;
}
.tableDesign th,
.tableDesign td {
  padding: 0.5em 1em;
  border: 2px solid #de3163;
  color: #333;
}
.tableDesign th {
  background: #de3163;
  text-align: center;
  color: #fff;
  border-right: 2px solid #e195ab;
  border-top: 2px solid #de3163;
}
.tableDesign th:last-of-type {
  border-right: 2px solid #de3163;
}

.reactIcon {
  width: 100%;
  color: #333;
}
.reactIconTable {
  width: 100%;
  color: #fff;
}

.userResponse_batu {
  width: 20px;
  cursor: pointer;
}

.userResponse_triangle {
  width: 35px;
  cursor: pointer;
}
.userResponse {
  width: 30px;
  cursor: pointer;
}
// 06AB4B
// AFB4B1

.formContent {
  width: 640px;
  margin: 0.5rem 0;
}

.formContent p {
  display: block;
  margin-bottom: 5px;
}

@media (max-width: 428px) {
  .formContent {
    width: 100%;
  }
}

.formInput {
  width: 100%;
  height: 30px;
  border: solid 1px grey;
  font-size: 16px;
  color: #333 !important;
  margin-bottom: 8px;
  padding: 6px;
}

.tagRequire {
  padding: 4px;
  margin-left: 4px;
  font-size: 11px;
  border-radius: 5px;
  background-color: #de3163;
  color: #fff;
}
.tagNoRequire {
  padding: 4px;
  margin-left: 4px;
  font-size: 11px;
  border-radius: 5px;
  background-color: #ccdf92;
  color: #333;
}

.formTextarea {
  width: 100%;
  color: #333;
  padding: 4px;
  border: 1px solid gray;
  border-radius: 2px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date {
  min-width: 240px;
  white-space: nowrap;
  color: #333;
}

.memo {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  padding: 16px;
  border: 2px solid #de3163;
  border-radius: 8px;
  background-color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  color: #000000;
  overflow-wrap: anywhere;
}

.memo::before {
  content: "";
  position: absolute;
  top: 15%;
  left: 0;
  border-style: solid;
  border-width: 10px 20px 10px 0;
  border-color: transparent #de3163 transparent transparent;
  translate: -100% -50%;
}

.memo::after {
  content: "";
  position: absolute;
  top: 15%;
  left: 0;
  border-style: solid;
  border-width: 7.8px 15.5px 7.8px 0;
  border-color: transparent #ffffff transparent transparent;
  translate: -100% -50%;
}

.selected {
  color: #0491279c;
}

.userName {
  cursor: pointer;
  text-decoration: underline;
  transition: 0.2s;
  min-width: 140px;
}
.userName:hover {
  color: #f7cad6;
  transition: 0.2s;
}
.scheduleForm {
  // border: #ed9ad6 solid 2px;
  position: relative;
}

.formSubmit {
  border-radius: 9999;
  bottom: -6rem;
  width: 100%;
  color: white;
  background-color: #de3163;
  transition: 0.3s;
  padding: 24px 12px;
  cursor: pointer;
  transition: 0.3s;
}

.createBtn {
  border-radius: 9999;
  display: block;
  bottom: -3rem;
  text-align: center;
  width: 100%;
  color: #333;
  background-color: #99c2aa;
  transition: 0.3s;
  padding: 24px 12px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 12px;
}

.createBtn:hover {
  transition: 0.3s;
  background-color: #ccdf92;
}

.disabled {
  cursor: default;
  background-color: #cccacb;
  color: #333;
}

.enableSubmit:hover {
  transition: 0.3s;
  background-color: #e195ab;
}

.eventImage{
  border-radius: 999px;
}

.colspan3 {
  border-left: none !important;
}
.userComment {
  min-width: 260px;
  font-weight: normal;
}

.attend {
  background-color: rgba(#f2e462, 0.3);
  position: relative;
  // border: dashed 3px #f2e462!important;
}

.confirmed {
  background-color: rgba(#f262a8, 0.3);
  position: relative;
}

.confirmedLabel {
  position: relative;
}
.confirmedLabel::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 40px solid transparent;
  border-right: 50px solid #de3163;
}
.confirmedLabel::after {
  content: "開催";
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  top: 5px;
  right: 2px;
  transform: rotate(40deg);
}

.attendText {
  background-color: rgba(#f2e462, 0.3);
  color: #333;
  font-size: 12px;
  padding: 4px;
  margin-left: 8px;
  // border: dashed 3px #f2e462!important;
}

.confirmedText {
  background-color: rgba(#f262a8, 0.3);
  color: #333;
  font-size: 12px;
  padding: 4px;
}

.modalTitle {
  text-align: center;
  color: #333;
  font-weight: bold;
}
.modalText {
  text-align: center;
  color: #333;
}
.confirmText {
  color: #de3163;
  font-weight: bold;
}


.eventLink {
  position: relative;
  border-top: solid 2px #CCDF92;
  border-bottom: solid 2px #CCDF92;
  background: #f4f4f4;
  line-height: 1.4;
  padding: 0.4em 0.5em;
  margin: 2em 0 0.5em;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.eventLink:after {
  /*タブ*/
  position: absolute;
  font-family: "Font Awesome 5 Free",'Quicksand','Avenir','Arial',sans-serif;
  font-weight: 900;
  content: '\f0a7\ このイベントのURL';
  background: #CCDF92;
  color: #333;
  left: 0px;
  bottom: 100%;
  border-radius: 5px 5px 0 0;
  padding: 9px 7px 5px;
  font-size: 0.7em;
  line-height: 1;
  letter-spacing: 0.05em;
}

.copyIcon{
  background: #5f5d5d;
  color: #fff;
  padding: 4px;
  height: 25px;
  width: 25px;
  margin-right: 8px;

}