.syncBtn{
    color: #fff;
    cursor: pointer;
    padding: 12px;
    background-color: #de3163;
}

.createEventBtn{
    background-color: rgb(182, 36, 58);
    color: #fff;
    padding: 13px;
    cursor: pointer;
    margin-left: 24pxx;
}