.syncBtn{
    color: #fff;
    cursor: pointer;
    padding: 12px;
    background-color: #de3163;
}

.createEventBtn{
    background-color: rgb(182, 36, 58);
    color: #fff;
    padding: 13px;
    cursor: pointer;
    margin-top: 8px;
    transition: .3s;

}
.createEventBtn:hover{
    background-color: rgb(182, 36, 58, .7);
    transition: .3s;
}

.addEvent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.syncGoogle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.google{
    font-size: 18px;
    margin-right: 4px;
}


.modalTitle{
    color: #333;
    font-weight: bold;
}


.loader{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loaderInner{
    display: flex;
    align-items: center;
}

.loadings{
    display: flex;
}

@-webkit-keyframes scale {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1; }
    45% {
      -webkit-transform: scale(0.1);
              transform: scale(0.1);
      opacity: 0.7; }
    80% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1; } }
  @keyframes scale {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1; }
    45% {
      -webkit-transform: scale(0.1);
              transform: scale(0.1);
      opacity: 0.7; }
    80% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1; } }
  
  .ballPulse > div:nth-child(1) {
    -webkit-animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
            animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }
  
  .ballPulse > div:nth-child(2) {
    -webkit-animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
            animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }
  
  .ballPulse > div:nth-child(3) {
    -webkit-animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
            animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }
  
  .ballPulse > div {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    display: inline-block; }
  