.scheduleForm {
  // border: #ed9ad6 solid 2px;
  position: relative;
  display: flex;
  justify-content: center;
}

.none {
  display: none;
}

.cropBtn {
  cursor: pointer;
  display: block;
  padding: 12px 4px;
  color: #fff;
  background-color: #AF1740;
  text-align: center;
  width: 230px;
  margin-top: 12px;
}

.modalTitle {
  text-align: center;
  color: #333;
  font-weight: bold;
}
.modalText {
  text-align: center;
  color: #333;
}

.croppedImage {
  margin-top: 6px;
  width: 200px;

}

.gray {
  color: #333;
}

.none {
  display: none;
}

.block {
  display: block;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  margin-top: 40px;
}


@media (max-width: 428px) {
  .form {
    display: block;
  }
}

.formContent {
  width: 640px;
  background-color: #FFEDFA;
  padding: 12px;
}


@media (max-width: 428px) {
  .formContent {
    width: 100%;
  }
}

.formContent p {
  display: block;
  margin-bottom: 5px;
}

.formInput {
  width: 100%;
  height: 30px;
  border: solid 1px #b5b1b1;
  font-size: 16px;
  color: #333 !important;
  margin-bottom: 8px;
  padding: 6px;
}

.formTextarea {
  width: 100%;
  height: 120px;
  border: solid 1px #b5b1b1;
  color: #333 !important;
  padding: 6px;
}

.formInner {
  margin-bottom: 40px;
}

.formH2 {
  padding: 0.25em 0.5em;
  /*上下 左右の余白*/
  color: #494949;
  /*文字色*/
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  /*背景透明に*/
  border-left: solid 5px #de7c7d;
  /*左線*/
  margin-bottom: 6px;
}

.tagRequire {
  padding: 4px;
  margin-left: 4px;
  font-size: 11px;
  border-radius: 5px;
  background-color: #af1740;
  color: #fff;
}

.tagNoRequire {
  padding: 4px;
  margin-left: 4px;
  font-size: 11px;
  border-radius: 5px;
  background-color: #CCDF92;
  color: #333;
}

.scheduleInput {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
  border-color: #b5b1b1;
}

.formInputDate {
  padding: 6px;
  width: 240px;
  color: #333;
  border: 1px solid #b5b1b1;
  border-radius: 2px;
}

.fromInputTime {
  width: 180px;
  color: #333;
  border: 1px solid #b5b1b1;
  border-radius: 2px;
  margin-left: 24px;
  padding: 6px;
}

.timeFrom {
  color: #333;
}

.scheduleRemove {
  color: #cc2b52;
  cursor: pointer;
  margin-left: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 11px;
}

@media (max-width: 428px) {
  .scheduleRemove {
    width: 50px;
    margin-left: 10px;
  }
}


.addSchedule {
  color: #2b71cc;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
}

//https://colorhunt.co/palette/740938af1740cc2b52de7c7d


.formInputDate::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.cropArea {
  // width: 340px;
  margin-top: 14px;
}

.formInputDate::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.formInputDate::-webkit-clear-button {
  -webkit-appearance: none;
}

.formInputDate {
  position: relative;
}

.formSubmit {
  border-radius: 9999;
  bottom: -6rem;
  width: 100%;
  color: white;
  background-color: #DE3163;
  transition: .3s;
  padding: 24px 12px;
  cursor: pointer;
  transition: .3s;
}

.categoryTitle {
  width: fit-content;
  text-align: center;
  color: #333;
  margin: auto;
  font-size: 28px;
  margin-bottom: 30px;
  position: relative;
  font-weight: bold;
  padding-left: 25px;
}

.categoryTitle::before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px #DE3163;
}

.categoryTitle::after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px #DE3163;
}

.cropCanvas{
  border-radius: 999px;
}

.reactCrop{
  width: 290px;
  margin: auto;
}

@media (max-width: 428px) {
  .formSubmit {
    bottom: -20px;
  }

.categoryTitle::after {
  width: 95%;
}

}

.memoCount {
  color: #333;
}

.memoCount__valid {
  color: #e34c4c;
}


.disabled {
  cursor: default;
  background-color: #cccacb;
  color: #333;
}

.enableSubmit:hover {
  transition: .3s;
  background-color: #E195AB;

}


.uploadBtn{
  padding: 4px;
  color: #AF1740;
}
.preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.preview-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}