.blogContainer{
    padding: 20px;
}

.blogContainer h2{
    word-wrap: break-word;
    background-color: #efefef;
    border: none;
    color: #555;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
    padding: 10px 6px;
}

.blogContainer .font{
    word-wrap: break-word;
    color: #777;
    font-size: 1rem;
    line-height: 30px;
    margin-bottom: 20px;
}

.blogContainer .ul{
    color: #777;
}